<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                              https://maven.apache.org/xsd/settings-1.0.0.xsd">
  <servers>
    <server>
      <id>SigurdMoth</id>
      <username>SigurdMoth</username>
      <password>2lec3ojsnqlqedljmiscsjdlgfeicrdft4d7unjk6n3n4in5rb2a</password>
    </server>
  </servers>
</settings>